@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    outline: none;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    /* Backgrounds */
    --background-color: #000;
    
    /* Colors */
    --white: #fff;
    --blue: #22D4FD;
    --black: #000;
    --transparente-02:  rgba(255,255,255, 0.2);

    /* Font-family */
    --montserrat: "Montserrat";
    --krona-one: "Krona One";
}

body {
    background: var(--background-color);
    color: var(--white);
}

/* Barra de rolagem */
body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: var(--black);
}

body::-webkit-scrollbar-thumb {
    background: var(--blue);
    border-radius: 10px;
}

/* main */
main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6% 10%;
}

/* Section */
main section {
    width: 38rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

/* Título Linktree */
main section h1 {
    font-size: 1.9rem;
    color: var(--blue);
}

/* Titulo */
main section h2 {
    font-family: var(--krona-one), sans-serif;
    font-size: 2.3rem;
}

main section h2 span {
    color: var(--blue);
    font-weight: bold;
}

/* Paragrafo */
main section p {
    font-size: 1,5rem;
    font-family: var(--montserrat), sans-serif;
}

/* h2 subtítulo */
main section #links h2 {
    font-family: var(--montserrat);
    font-weight: 400;
    font-size: 1.5rem;
}

/* Links */
main section #links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;    
    gap: 2rem;
} 

main section #links svg {
    color: var(--blue);
}

main section #links a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

    width: 23.6rem;
    border-radius: 10px;
    text-align: center;
    padding: 18.5px 0;

    border: solid 1px var(--blue);
    color: var(--white);
    font-family: var(--montserrat), sans-serif;
    font-size: 20px;

    transition: all .5s ease-in-out;
}

main section #links a:hover {
    background: var(--transparente-02);
    transform: scale(1.1);
}

/* Fotografia */
main img {
    width: 350px;
    height: 380px;
    border-radius: 10px;
    border: solid 2px var(--blue);
    box-shadow: 0 0 20px var(--blue);
}

/* Footer */
footer {
    display: flex;
    justify-content: center;

    width: 100%;
    padding: 2rem 2rem;

    border-top: solid 2px var(--blue);
}

footer a {
    font-family: var(--montserrat);
    color: var(--white);
    font-weight: bold;
}

footer a:hover {
    border-bottom: solid 2px var(--blue);
}


/* Animações */

@keyframes aparecer {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
 h1,
 h2,
 p,   
 #github,
 #instagram,
 #linkedin,
 img {
    opacity: 0;
    animation: aparecer 2.1s forwards;
    transition: .5s;
  }
  
  h1 {
    animation-delay: 0.1s;
  }

  h2 {
    animation-delay: 0.9s;
  }

  p {
    animation-delay: 0.9s;
  }
  
  #github {
    animation-delay: 1.4s; 
  }

  #instagram {
    animation-delay: 2s; 
  }
  
  #linkedin {
    animation-delay: 2.6s;
  }

  img {
    animation-delay: 3.2s;
  }